

    .JOIN {
        background-color:white;
        color:blue;
        border-width:1px; 
        border-color:blue;
        border-radius:2px;
        cursor: pointer;
        margin-right:20px;
        padding-left:15px;
        padding-right:15px;
        padding-top:8px;
        padding-bottom:8px;
        transition:  background-color 1s ,  color 1s;
        }
    .JOIN:hover{
        background-color:blue;
        color:white;
    }   
    .JOIN:active{
        opacity:0.5;
    } 
    .tweet{
        background-color:rgb(31, 31, 250);
        color:white;
        border:none;
        height: 40px;
        width: 80px;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
    } 
    .tweet:hover{
 box-shadow: 5px 5px 20px rgba(0,0,0,0.15);
    }   
.box1 {
    color: white;
    background-color: red;
}